{% extends 'base.html' %}

{% block title %}About - Cheese Recommender{% endblock %}

{% block content %}
    <h2>About</h2>
    <p>Welcome to the Cheese Recommender! We are passionate about cheese and want to help you discover the best cheeses based on your preferences.</p>
    <p>Our recommender system takes into account the qualities you like in cheese and provides personalized recommendations just for you.</p>
    <p>Explore our wide selection of cheeses and find your perfect match!</p>
    <p>Enjoy your cheese journey!</p>

    <p>Check out my GitHub page: <a href="https://github.com/psibir">https://github.com/psibir</a></p>
    <p>Contact me at: bloomfieldtm@gmail.com</p>
{% endblock %}
