{% extends 'base.html' %}

{% block title %}Cheese Recommender - Index{% endblock %}

{% block content %}
    <form method="POST" action="/">
        <label for="user_input">What qualities do you like in cheese?</label>
        <input type="text" name="user_input" id="user_input"><br><br>
        <label for="exclude_words">What qualities you do not want in your cheese?:</label>
        <input type="text" name="exclude_words" id="exclude_words"><br><br>
        <input type="submit" value="Get Recommendations">
    </form>
{% endblock %}
