{% extends 'base.html' %}

{% block title %}Cheese Recommender{% endblock %}

{% block content %}
    <form method="POST" action="/">
        <label for="user_input">What qualities do you like in cheese?</label>
        <input type="text" name="user_input" id="user_input"><br><br>
        <label for="exclude_words">What qualities do you not like in your cheese?</label>
        <input type="text" name="exclude_words" id="exclude_words"><br><br>
        <input type="submit" value="Get Recommendations">
    </form>

    <a href="#" id="help-link">Need Help?</a>
    <div id="flavor-wheel-container" style="display: none;">
        <img src="img/flavorwheel.png" alt="Flavor Wheel">
    </div>

    <script>
        const helpLink = document.getElementById('help-link');
        const flavorWheelContainer = document.getElementById('flavor-wheel-container');

        helpLink.addEventListener('click', function(event) {
            event.preventDefault();
            if (flavorWheelContainer.style.display === 'none') {
                flavorWheelContainer.style.display = 'block';
            } else {
                flavorWheelContainer.style.display = 'none';
            }
        });
    </script>
{% endblock %}
