<!-- food pairing user form-->


<!-- what cheese woud you like to pair with food?

what aspect of flavor would you like to accentuate?

what food would you like to pair with cheese? -->


<!DOCTYPE html>
<html>
<head>
    <title>Cheese Pairing</title>
</head>
<body>
    <h1>Cheese Pairing</h1>
    <form>
        <label for="cheese">What cheese would you like to pair with food?</label><br>
        <input type="text" id="cheese" name="cheese"><br><br>
        
        <label for="flavor">What aspect of flavor would you like to accentuate?</label><br>
        <input type="text" id="flavor" name="flavor"><br><br>
        
        <label for="food">What food would you like to pair with cheese?</label><br>
        <input type="text" id="food" name="food"><br><br>
        
        <input type="submit" value="Get Pairing">
    </form>
</body>
</html>
